body{
    margin: 0px;
    padding: 0px;
}
.card-con{
    border: solid 2px gray;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 10px 3px #1d660099;
}
.card-head h5{
    font-size: 25px;
    font-weight: bolder;
}
.mh-custom{
    border: 0px !important;
}
.mh-custom button{
    width: 55px;
    height: 55px;
    margin-bottom: -17px;
    font-size: 20px;
}
.mh-custom-playas{
    border: 0px !important;
}
.mh-custom-playas button{
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.card-cred{
    width: 500px;
    margin: auto;
    background: white;
}
.card-icon{
    width: 30px;
}
.cfp{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    
    margin-bottom: -500px;
}
.cfp .ic{
    padding: 100px;
    border: solid 1px white;
    border-radius: 3px;
}
.cfp .ic img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.cfp .ic hr{
    border-top: solid 1px rgb(255, 255, 255);
}
.bg-img{
    background-image: url("../../root/img/bingo-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.bg-trnsp{
    height: 100vh;
    background: rgba(0, 0, 0, 0.849);
}