body{
    margin: 0px;
    padding: 0px;
}
.folder-gray{
    background-color: #6c757d79;
    border-radius: 10px;
}
.folder-gray:hover{
    background-color: #6c757dce;
    transition: .5s;
}
.folder-gray h6{
    font-size: 17px;
    color: #3a3a3a !important;
}
.folder-gray h6 a{
    text-decoration: none !important;
    color: #3a3a3a !important;
}

.folder-blue{
    background-color: #007bff79;
    border-radius: 10px;
}
.folder-blue:hover{
    background-color: #007bffce;
    transition: .5s;
}
.folder-blue h6{
    font-size: 17px;
    color: #3a3a3a !important;
}
.folder-blue h6 a{
    text-decoration: none !important;
    color: #3a3a3a !important;
}

.folder-green{
    background-color: #28a74579;
    border-radius: 10px;
}
.folder-green:hover{
    background-color: #28a746ce;
    transition: .5s;
}
.folder-green h6{
    font-size: 17px;
    color: #3a3a3a !important;
}
.folder-green h6 a{
    text-decoration: none !important;
    color: #3a3a3a !important;
}

.folder-yellow{
    background-color: #ffc10779;
    border-radius: 10px;
}
.folder-yellow:hover{
    background-color: #ffc107ce;
    transition: .5s;
}
.folder-yellow h6{
    font-size: 17px;
    color: #3a3a3a !important;
}
.folder-yellow h6 a{
    text-decoration: none !important;
    color: #3a3a3a !important;
}

.folder-red{
    background-color: #dc354660;
    border-radius: 10px;
}
.folder-red:hover{
    background-color: #dc3545ce;
    transition: .5s;
}
.folder-red h6{
    font-size: 17px;
    color: #3a3a3a !important;
}
.folder-red h6 a{
    text-decoration: none !important;
    color: #3a3a3a !important;
}

.folder-orange{
    background-color: #fd7e1479;
    border-radius: 10px;
}
.folder-orange:hover{
    background-color: #fd7e14ce;
    transition: .5s;
}
.folder-orange h6{
    font-size: 17px;
    color: #3a3a3a !important;
}
.folder-orange h6 a{
    text-decoration: none !important;
    color: #3a3a3a !important;
}

.folder-violet{
    background-color: #6f42c179;
    border-radius: 10px;
}
.folder-violet:hover{
    background-color: #6f42c1ce;
    transition: .5s;
}
.folder-violet h6{
    font-size: 17px;
    color: #3a3a3a !important;
}
.folder-violet h6 a{
    text-decoration: none !important;
    color: #3a3a3a !important;
}
.folder-link{
    height: 19px; overflow-y: scroll; overflow-x: hidden;
}
.folder-link::-webkit-scrollbar{
    width: 0px;
}

