body{
    padding: 10px;
    margin-left: 100px !important;
    margin-right: 100px !important;
    border: grey solid 1px;
    background-color: rgb(12, 8, 36) !important;
    color: rgb(168, 168, 168) !important;
}
hr{
    border-top: solid 1px gray;
}
.heads{
    color: rgb(252, 133, 48);
}
.class{
    color: rgb(0, 139, 0);
}
.method{
    color: rgb(184, 184, 0);
}
.parameter{
    color: rgba(150, 66, 17, 0.966);
}
.variable{
    color: rgb(0, 221, 250);
}
