.row{
    margin: 0px;
    padding: 0px;
}
.modal-header{
    background-color: rgb(0, 49, 0) !important;
    color: rgb(245, 245, 245);
    font-size: bolder;
    border-radius: 0px !important;
    padding: 8px !important;
    padding-left: 10px !important;
}
.title h5{
    font-size: 28px;
}
.title h6{
    font-size: 18px;
    font-family: quin;
    margin-top: -5px;
}
.item-display{
    width: 100%;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 2px;
    overflow-x: hidden;
}
.item-display .item-img{
    width: 100%;
    height: 150px;
}
.item-display .item-description{
    margin-top: 8px;
}
.item-display .modal-footer{
    padding-bottom: -10px !important;
    margin-bottom: -10px !important;
}
#searchSuggest{
    position: absolute;
    margin-top: 40px;
    height: 400px;
    overflow-y: scroll !important;
}
#searchSuggest::-webkit-scrollbar{
    width: 0px !important;
}
#suggest{
    width: 100%;
}
#suggest input{
    border: 0px;
    border-radius: 0px !important;
}
#suggest input:focus{
    border: 0px;
    outline: 0px;
}
#suggest input:hover{
    border: 0px;
    outline: 0px;
}
@font-face {
    font-family: quin;
    src: url("../fonts/Quindelia.ttf");
}